

/*Start global rules*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
}
body {
    font-family: cursive;
    font-size: inherit;
    
}
.parent {
    background-color: #eee;
}
h2{
    line-height: 1.45;
    font-size: 36px;
    font-weight: inherit;
}
button {
    background-color: #222;
    color: #eee;
    font-size: inherit;
    font-weight: bold;
    width: 110px;
    height: 50px;
    border-radius: 25px;
    font-family: cursive;
    cursor: pointer;
}

/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*End Global rules*/
/* Start Header */
.header {
    padding: 20px;
    margin: 0;
    top: 40px;
    /* background-color: #333; */
    /* overflow: hidden;
  background-color: #333; */
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #eee; */
}
.nav .list {
    padding-left: 20px;
}
.nav .list a{
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    color: #333;
    padding: 14px 16px;
}
.nav .list a:hover {
    background-color: #333;
    color: #eee;
}
.nav .cart{
    padding-right: 40px;
}
.nav .cart .cartIcon {
    width:  30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + .landing {
    padding-top: 60px;
}
/* End Header  */

/* Start Landing Section */
.landing {
     /* padding-top: 400px; */
    margin-top: 50px;
    background-image: url("../images/yuprntae.jpg");
    background-size: cover;
    height: 550px;
    position: relative;
}
.landing .text {
    position: absolute;
    left: 50px;
    top: 50%;
    font-family: cursive;
}
/* End Landing Section  */
/* Start showing products */
.products {
    padding-top:  100px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    font-family: cursive;
}
.container{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
} 
.products .container .gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.products .gridcontainer button {
    font-size: 15px;
    height: 40px;
}
.products .gridcontainer .textContainer{
    /* background-color: aqua; */
    width: 300px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.products .gridcontainer .textContainer button{
    margin-top: 10px;
    margin-left: 30px;
}
/* End showing products */
/* Start Register */
#Register {
    padding-top:  60px;
    padding-bottom: 60px;
    background-color: #dcdcdcc1;
}
#Register .container{
    padding-top:  30px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
#Register .container .data{
    padding-top:  15px;
    padding-bottom: 60px;
    width: 235px;
    position: relative;
}
#Register .container .data input {
    height: 24px;
    color: #1d2129;
    font-size: 17px;
    font-family: inherit;
    padding: 14px 16px;
}
#Register .container .data .but {
    position: absolute;
    width: 235px;

}

/* End Register */

/* Start Footer  */
.footer {
    background-color: rgb(44, 43, 43);
    height: 100px;
    color: #eee;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* End Footer  */